<html>
  <head>
    <title>Ajax Twitter</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </head>
  <form id='tweet' action='/' method='post'>
    <input type='text' name='tweet' id='tweet_text'>
    <input type='submit' value='Tweet it!' id='tweet_submit'>
  </form>
</html>
